<div class="container attendance-container" ng-controller="AttendanceController">
	<div class="row">
		<div class="well col-12-xs">

			<div class="well next-game-well clearfix">
				<h3 class="next-game">Next Game: {{ nearestGame.date | date:'MMMM d, y h:mma'}}</h3>
			</div>

			<div class="well information-panel">
				<button class="btn btn-primary" ng-click="randomLineup()"><span class="fa fa-refresh fa-lg"></span>&nbsp;&nbsp;Random Lineup</button><br>
				<a href="#/lineup" class="btn btn-info save-button" ng-click="setLineup(team)"><span class="fa fa-save"></span> Save</a><br>
				<input type="checkbox" ng-model="refreshTeam"> Reset all players
				<a href="#/score" class="btn btn-success"></a>
			</div>

			<ul ui-sortable ng-model="team">
				<li class="well {{player.gender}}" ng-repeat="player in team" ng-hide="player.hide">
					<div class="index">
						<h3>{{ $index + 1 }}.</h3>
					</div>
					<div  class="clearfix player-well">
						<div class="player-info">
							<h4 class="player-name">{{ player.firstName }} {{ player.lastName }}</h4><br>
							<h5 class="player-phone">{{ player.phone }}</h5>
						</div>
						<div class="player-buttons clearfix">
							<button class="btn btn-sm btn-primary" ng-click="moveUp($index);"><span class="fa fa-arrow-up"></span></button>
							<button class="btn btn-sm btn-danger" ng-click="removePlayer($index);"><span class="fa fa-lg fa-times"></span></button>
							<button class="btn btn-sm btn-primary" ng-click="moveDown($index);"><span class="fa fa-arrow-down"></span></button>
						</div>
					</div>
				</li>
			</ul>

			<div class="well">
				<form role="form" name="ballerForm" ng-submit="submitForm(ballerForm.$valid)" novalidate>
					<!-- Name input -->
					<div class="form-group" ng-class="{ 'has-error' : ballerForm.name.$invalid && !ballerForm.name.$pristine }">
						<label for="name">Name</label>
						<input type="text" name="name" class="form-control" ng-model="newPlayer.firstName" placeholder="Name..." ng-minlength="3" required>
					</div>
					<!-- Position Slider -->
					<label for="slider">Add at position: {{ newPlayer.index + 1 }}</label>
					<div ui-slider min="0" max="{{team.length}}" ng-model="newPlayer.index" name="slider"></div>
					<!-- Gender input -->
					<div class="form-group">
						<label for="gender">Gender</label>
						<select name="gender" class="form-control" ng-model="newPlayer.gender">
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
					</div>
					<!-- Submit -->
					<button type="submit" class="btn btn-success  form-control new-player-button" ng-click="addPlayer(newPlayer);" ng-disabled="ballerForm.$invalid">Add Player</button>
				</form>
			</div>

		</div>
	</div>
</div>
